@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #7f7fff;
    position:relative;
    
}

#content {
    width: 100%;
    margin-top: 15px;
    padding-left: 3%;
    margin-right: auto;
    margin-left: auto;
}

h1 {
	text-align:center;
	font-size: 24px;
    color: #bcffff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.label {
	text-align:center;
}

.t_button{
    display: inLine-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-redius: 3px;
    transition: .4s;
    text-align : center;
}

.t_button:hover {
    background: #67c5ff;
    color: white;
}

.icon{
	text-align:right;
	padding-right:20px;
	
}